<h1>Symbol {{symbol}}</h1>

<div style="width:250px">
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for a symbol" aria-label="Search for a symbol" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
    </div>
</div>
</div>


<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.symbol" [term]="t"></ngb-highlight>
</ng-template>

<div class="form-group">
    <label for="typeahead-template">Search for a symbol:</label>
    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="searchSymbol" [resultTemplate]="rt"  [inputFormatter]="formatter" />
    <span *ngIf="searching">searching...</span>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>

<div>&nbsp;</div>

<input #symboltb type="text" [(ngModel)]="symbol" required><button (click)="search()">Search</button>

<app-market-chart [marketStatus]="marketStatusToPlot"></app-market-chart>
